/* cSpell:disable */

@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Oswald:wght@200;500&display=swap);


* {
    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(36,36,36);
    font-family: sans-serif;
}

.container {
    display: flex;
    height: 30vw;
    max-height: 94px;
    width: 100wv;
    background-color: rgb(36, 36, 36);
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 18.5vw;
    flex-shrink: 0;
}

.nav_links{
    list-style: none;
    margin-left: 200px;
    height: 30px;
}

.nav_links li {
    float: left;
    padding: 0 10px;
}

.nav_links li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans' ;
}

.logo {
    height: 11vh;
    max-height: 45px;

}

.goty {
    padding-left: 1.1vw;
    height: 95px;

  }

.searchicon {
  height: 23px;
  margin-top: 3px;
  margin-right: 20px;
}

.signin {
  background-color: rgba(196, 4, 4, 0.925);
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;

}

.signin:hover {
  background-color: rgb(226, 36, 36);
  cursor: pointer;
}

.banner {
  display: flex;
  background-color: rgb(53, 53, 53);
  position: sticky;
  width: 100%;
  height: 72px;
  flex-direction: row;
  align-items: center;
  padding-right: 17.7vw;
  z-index: 100;
}

.stickybartext {
  padding-left: 18.5vw;
  color: rgb(216, 216, 216);
  font-family: 'Oswald', sans-serif;
  font-size: 27px;
  font-weight: 700;
}

.searchbar {
  margin-left: auto;
  
}

.searchbar input {
  background-color: rgb(39, 39, 39);
  width: 300px;
  height: 30px;
  border: white 1px solid;
  border-radius: 4px;
  background-image:url(/Images/magnifyingglasswhite.png);
  position: left;
  padding-left: 30px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 7px;
}

.tableofcontents button {
  background-color: rgba(196, 4, 4, 0.925);
  border: none;
  height: 30px;
  width: 28px;
  border-radius: 4px;
  margin-left: 7px;
}

.tableofcontents img{
  background-color: rgba(196, 4, 4, 0.925);
  height: 20px;
  width: 20px;
  
}

.tableofcontents :hover {
  cursor: pointer;
}

.topheader {
  width: 41vw;
  margin-left: 20vw;
  padding-top: 2vh;
  word-break: break-all;
  color: rgb(216, 216, 216);
  line-height: 32px;
  font-size: 14px;
  position: relative;
}

.usericon {
 max-width: 100px;
}



/* Dropdown Button */
.dropbtn {
  background-color: rgb(58,72,101);
  color: white;
  padding: 7px 45px;
  width: 177px;
  font-size: 16px;
  border: 1px solid #47587B;
  border-radius: 4px;
  display: flex;
  min-height: 32px;
}

/* Text in button */
.dropbtn span{
  position:absolute;
  top: auto;
  left: 6%;
}

/* image in button */
.dropbtn img{
  height: 25px;
  position: absolute;
  top: auto;
  right: 5%;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  top: 20px;
  right: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(53, 53, 53);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: wheat;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color:white}

/* Show the dropdown menu on hover */
.dropdown:active .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #47587B;}

/* style for links in white */
.whitelinks {
  color: rgb(224, 224, 224);
}

/* Container style for content */
.content {
  color: rgb(224, 224, 224);
  margin-left: 20vw;
  width: 41vw;
  line-height: 32px;
  font-size: 16px;
}

.content h2 {
  font-size: 20px;
  margin-top: -10px;
  margin-bottom: 20px;
}

/* Styling for images in content */
.contentimages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  
}

/* Boss text style */
.bosstext {
  color: rgb(136, 1, 1);
  text-align: center;

}

/* New alignment for footer, as Content isn't centered */
.footer{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

/* Container for Page selection buttons at bottom of page, spacing for hr */
.pagebuttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6%;
}

/* Styling for previous page buttons */
.previouspage{
background-color: #3A4865;
padding: 12px 18px 12px 53px;
position: relative;
border: 1px solid #47587B;
border-radius: 5px;
}


/* Styling for previous page text in button */
.previouspage a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}


/* Styling for next page buttons */
.nextpage{
  background-color: #3A4865;
  padding: 12px 53px 12px 18px;
  position: relative;
  border: 1px solid #47587B;
  border-radius: 5px;
  text-align: right;
  
}

/* Styling for next page text in button */
.nextpage a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

/* Guide review section container styling */
.guidereview{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

/* text above review buttons, spacing between text and hr*/
.reviewtext{
  flex-basis: 100%;
  color: #6E89B9;
  font-size: 24px;
  margin-top: 4%;

}

/* Direct button container for responses buttons, spacing between buttons and text above */
.responsebuttons{
  margin-top: 4%;
  width: 100%; 
}

/* review yes button styling, has spacing for hr below */
.reviewyes {
  color: wheat;
  font-size: 18px;
  font-weight: 700;
  background-color: #3A4865;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 4%;
  padding: 18px 40px;
  border: 1px solid #47587B;
  border-radius: 10px;
}


/* review no buttons styling */
.reviewno {
  color: wheat;
  font-size: 18px;
  font-weight: 700;
  background-color: #3A4865 ;
  display: inline-block;
  position: relative;
  margin-left: 10px;
  padding: 18px 40px;
  border: 1px solid #47587B;
  border-radius: 10px;
}

/* Container for guide info */
.guideinfo{
  margin-top: 4%;
}

/* Tetx above game info */
.guideinfo p {
  color: #E1E5EC;
  font-size: 24px;
  font-weight: 700;
}

/* container for game info. controls main grid as well */
.gameinfocontainer{
  color: #E1E5EC;
  border: 0.2px solid rgba(0, 0, 0, 0.288);
  border-radius: 20px;
  margin-top: 4%;
  display: grid;
  padding: 20px;
  
  grid-template-columns: 25% 30% 22.5% 22.5%;
  grid-template-rows: 15% 85%;  
}

.gamename{
 grid-column: 2;
}

/* Game Image position in grid*/
.gametile{
  grid-column: 1;
}

/* Game Image */
.gametile img{
  height: 150px;
  border-radius: 10%;

}

.gamedescription{
  font-size: 14px;
}

.gamerating{
  padding-top: 10px;
  position: relative;
  height: 70px;
}

.gamerating img{
  height: 60px;
  display: inline;
  float: left;
  padding-right: 15px;

}

.gamerating p{
  display: inline;
  font-size: 14px;  
  position: absolute;
  bottom: 0px;
}


.devcol1{
  padding-left: 30px;
  font-size: 14px;
}

.devcol2{
  font-size: 14px;
  padding-left: 30px;
}

/* Spacing for the list in devcol1 and 2*/
.tenpxpad{
  padding-top: 10px;
}

/* Ad following the guide info section in footer */
/* First Ad */
.AdOne {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

.AdOne img{
  height: 150px;
  border-radius: 20%;

}

.AdOneText{
  margin-left: 40px;
  color: white;
  font-size: 24px;
}

/* Second Ad */
.AdTwo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.AdTwo img{
  height: 150px;
  border-radius: 20%;

}

.AdTwoText{
  margin-left: 40px;
  color: white;
  font-size: 24px;
}

/* Larger 3rd Ad  */

.AdThree {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.AdThree img{
  width: 100%;

}

.AdThreeText{
  color: white;
  font-size: 24px;