@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Oswald:wght@200;500&display=swap);

* {
    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(36,36,36);
    font-family: sans-serif;
}

.oswaldfont {
  font-family: 'Oswald', sans-serif;
}

.darktext1 {
  color: gray;
}

.container {
    display: flex;
    height: 30vw;
    max-height: 94px;
    width: 100wv;
    background-color: rgb(36, 36, 36);
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 18.5vw;
    flex-shrink: 0;
}

.nav_links{
    list-style: none;
    margin-left: 200px;
    height: 30px;
}

.nav_links li {
    float: left;
    padding: 0 10px;
}

.nav_links li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans' ;
}

.logo {
    height: 11vh;
    max-height: 45px;

}

.goty {
    padding-left: 1.1vw;
    height: 95px;

  }

  .searchicon {
    height: 23px;
    margin-top: 3px;
    margin-right: 20px;
  }

.signin {
  background-color: rgba(196, 4, 4, 0.925);
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;

}

.signin:hover {
  background-color: rgb(226, 36, 36);
  cursor: pointer;
}

.banner {
  display: flex;
  background-color: rgb(53, 53, 53);
  position: sticky;
  width: 100%;
  height: 72px;
  flex-direction: row;
  align-items: center;
  padding-right: 17.7vw;
}

.stickybartext {
  padding-left: 18.5vw;
  color: rgb(216, 216, 216);
  font-family: 'Oswald', sans-serif;
  font-size: 27px;
  font-weight: 700;
}

.searchbar {
  margin-left: auto;
  
}

.searchbar input {
  background-color: rgb(39, 39, 39);
  width: 300px;
  height: 30px;
  border: white 1px solid;
  border-radius: 4px;
  background-image:url(/Images/magnifyingglasswhite.png);
  position: left;
  padding-left: 30px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 7px;
}

.tableofcontents button {
  background-color: rgba(196, 4, 4, 0.925);
  border: none;
  height: 30px;
  width: 28px;
  border-radius: 4px;
  margin-left: 7px;
}

.tableofcontents img{
  background-color: rgba(196, 4, 4, 0.925);
  height: 20px;
  width: 20px;
  
}

.tableofcontents :hover {
  cursor: pointer;
}

.topheader {
  width: 41vw;
  margin-left: 20vw;
  padding-top: 2vh;
  word-break: break-all;
  color: rgb(216, 216, 216);
  line-height: 32px;
  font-size: 14px;
  position: relative;
}

.usericon {
 max-width: 100px;
}

.inline {
  display: inline-flex;
}

.pagetools {
  color: white;
  background-color: #3a4865;
  border:1px solid #4e6187;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  width: 180px;
  padding: 6px 12px;
  position: absolute;
  top: 0;
  right: 0;
}

.pagetools:hover {
background-color: #4e6187;
cursor: pointer;
}


.pagetools p {
  position: absolute;
  top: 25%;
  left: 5%;
}

.pagetools img {
  position: absolute;
  top: 25%;
  right: 5%;
}

.pagetoolsdropdown {

}






.whitelinks {
  color: rgb(224, 224, 224);
}


.content {
  color: rgb(224, 224, 224);
  margin-left: 20vw;
  width: 41vw;
  line-height: 32px;
  font-size: 16px;
}


.contentimages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  
}