@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);

* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    background-color: rgb(36,36,36);
}

.container {
    display: flex;
    height: 30vw;
    max-height: 94px;
    width: 100wv;
    background-color: rgb(36, 36, 36);
    flex-direction: row;
    align-items: center;
    padding: 0 18vw;
}

.nav_links{
    list-style: none;
    margin-left: 200px;
}

.nav_links li {
    float: left;
    padding: 0 10px;
}

.nav_links li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans' ;
}

.logo {
    height: 11vh;
    max-height: 70px;

}

.goty {
    padding-left: 1.1vw;
    height: 95px;

  }

.signin {
  background-color: rgba(196, 4, 4, 0.925);
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
}

.signin:hover {
  background-color: rgb(226, 36, 36);
  cursor: pointer;
}

.banner {
  background-color: rgb(53, 53, 53);
  position: sticky;
  width: 100%;
  height: 100px;
}
